### Intellij ###

.idea
out
target

src/com/java/lesson/restaurant/reservation/notUse/*
src/com/java/lesson/restaurant/reservation/notUse/tests/*

web/testJsp

### Java ###

*.class

### Intellij Patch ###

*.iml


### Package Files ###
*.jar
*.war
*.ear
