### Intellij ###

.idea
out
target

src/com/java/lesson/restaurant/reservation/notUse/
web/testJsp

com/java/lesson/restaurant/reservation/notUse/tests/AbstractMySQLDaoTest.java
com/java/lesson/restaurant/reservation/notUse/tests/StartWithMavenPackageTest.java

### Java ###

*.class

### Intellij Patch ###

*.iml


### Package Files ###
*.jar
*.war
*.ear
