<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="UserDaoImpl">
    <test name="UserDaoImpl TestNG">
        <groups>
            <define name="getTest">
                <include name="get"/>
            </define>
            <define name="crudTest">
                <include name="crud"/>
            </define>
            <run>
                <include name="getTest" />
                <!--<include name="crudTest"/>-->
            </run>
        </groups>
        <classes>
            <class name="com.java.lesson.restaurant.reservation.dao.impl.UsersDaoImplTestTestNG">
            </class>
        </classes>
    </test>


</suite>